/*全局css样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'helvetica neue','microsoft yahei','pingfang sc','hiragino sans gb','stheiti',tahoma,sans-serif;
}

a {
    text-decoration: none;
}

.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all .4s ease;
}

.page-leave {
  opacity: 1;
  transform: translateX(0);
}

.page-leave.page-leave-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.4s ease-out;
}