/*全局css样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'helvetica neue','microsoft yahei','pingfang sc','hiragino sans gb','stheiti',tahoma,sans-serif;
}

a {
    text-decoration: none;
}